!!! 5
%html
  %head
    %title Basic Island
    %script(src="assets/js/main.js")
    -# %script(src="assets/js/lib/riot.js")
  %body
    -# %form
    -#   %div
    -#     %label Username:
    -#     %input(type="text" name="username")
    -#   %div
    -#     %label Password:
    -#     %input(type="text" name="password")
    -#   %input(type="submit" value="Loginn" else)
